$col_base: #93a541;
$col_dark: #4b5421;

@import "common/header";
@import "common/post";
@import "top/peridot_release";

// down all content from header but home-template
.post-template{
  margin-top: 6em;
}



