$col_base: #93a541;
$col_dark: #4b5421;

#fixedHeader{
  display: block;
  width: 100%;
  position: fixed;
  top:0;
  color: $col_dark;
  padding: .5em 1em;
  background: rgba(255,255,255,.8);
  a{
    color: $col_dark;
  }
  .brand{
    height: 2em;
  }
  z-index: 1000;

  ul.desktopMenu{
    display: inline-block;
    li{
      display: inline-block;
      padding-right: 2em;
    }
  }
  .mobileMenu{
    margin-top: 1em;
    .foldingArea{
      display: none;
      ul{
        list-style: none;
        padding: 0;
        li{
          padding : .5em;
          border-bottom: 1px solid $col_base;
        }
      }
      p{
        text-align: center;
      }
    }
    .foldingArea.active{
      display: block;
    }
  }

}


#heroUnit{
  background-image: url("/assets/img/background.png");
  color: $col_dark;
  padding: 6em;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
  }
  p{
    text-align: center;
  }
}

#gotoStore{
  background: #eee;
  padding:1.5em;
  p{
    text-align: center;
  }
}

.post-template{
  margin-top: 6em;
}



