<div id="heroUnit">
    <img src="/assets/img/module.png" alt=""/>
    <h1>PERIDOT</h1>
    <p>Developer friendly FPGA board</p>
</div>

<div class="gotoStore">
    <p><a href="">PERIDOT ON STORE</a></p>
</div>

<main class="content" role="main">
    <article class="post">
        <%- partial('post/meta') %>
        <section class="post-content">
            <div class="card row">
                <div class="col-sm-4">
                    <img src="/assets/img/peridot/icon-desktop.png" alt="">
                    <h3>全ての人にFPGAを</h3>
                    <p>
                        FPGA開発の複雑さを補うため、簡単に使用できるPERIDOTライブラリを用意しました。
						誰でも簡単に利用できるFPGA、それがPERIDOTの目標です。
					</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/img/peridot/icon-phone.png" alt="">
                    <h3>ポケットサイズのFPGA</h3>
					<p>
						PERIDOTはFPGAのパフォーマンスをArduinoフォームファクタに閉じ込めました。
						ポケットサイズのガジェットでもFPGAの高性能をフルに利用できます。
					</p>
                </div>
                <div class="col-sm-4">
                    <img src="/assets/img/peridot/icon-cloud.png" alt="">
                    <h3>ソフトとハード、より身近に</h3>
					<p>
						PERIDOTが目指したのはソフトとハードの一体化。
						ファームのコンパイルも公開も、GITHUBと連携したWebコンパイラでスムーズに実現できます。
					</p>
                </div>
            </div>
            <div class="note row">
                <div class="col-sm-6 note-image">
                    <img src="/assets/img/peridot/peridot1.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h3>PERIDOT - ポケットサイズガジェットの新しいカタチ</h3>
					<p>
						FPGAの高性能を詰め込んだPERIDOTは、ポケットサイズガジェットの世界において革新的な存在です。                   </p>
					<p>
						Chromeアプリケーションを通じて、LinuxやMac、もちろんWindowsでも、FPGAの潤沢なリソースをフルに活用することが出来ます。
					</p>
					<p>
						また、PERIDOTライブラリもまた、FPGA入門者にとって革新的な存在です。シンプルなコードを記述するだけで、簡単にFPGAの開発を始めることが出来ます。
					</p>
					<p>
						全ての開発者により大きな可能性を。PERIDOTがフィジカルコンピューティングの世界を広げていきます。
					</p>
                </div>

            </div>
            <div class="note row">
                <div class="col-sm-6 col-sm-push-6 note-image">
                    <img src="/assets/img/peridot/peridot2.jpg" alt="">
                </div>
                <div class="col-sm-6 col-sm-pull-6">
                    <h3>PERIDOT - ハードとソフトの融合</h3>
					<p>
						新しい事に挑戦するのはワクワクする一方で、準備や理解にうんざりされられる事もあります。
						PERIDOTのWebシステムなら、GITBHUBとの連携で、世界中のデベロッパーからファームウェアをダウンロードしたり、シンプルなテキストエディタで記述した設定ファイルからファームウェアを作成したり、簡単な手続きで手早くFPGAの世界に触れる事ができます。
					</p>
					<p>
						オープンソースのファームウェアが繋ぐ、ソフトとハードの新しい関係性。その世界はもうあなたのすぐ側です。
					</p>
                </div>
            </div>

        </section>
        <footer class="post-footer">
            <%- partial('../casper/post/author') %>
            <%- partial('../casper/post/share',{permalink:null}) %>
        </footer>
    </article>
</main>

<div class="gotoStore">
    <p><a href="">PERIDOT ON STORE</a></p>
</div>
