/* line 4, ../_scss/common.scss */
#fixedHeader {
  display: block;
  width: 100%;
  position: fixed;
  color: #4b5421;
  padding: .5em 1em;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
/* line 11, ../_scss/common.scss */
#fixedHeader a {
  color: #4b5421;
}
/* line 14, ../_scss/common.scss */
#fixedHeader .brand {
  height: 2em;
}
/* line 19, ../_scss/common.scss */
#fixedHeader ul.desktopMenu {
  display: inline-block;
}
/* line 21, ../_scss/common.scss */
#fixedHeader ul.desktopMenu li {
  display: inline-block;
  padding-right: 2em;
}
/* line 26, ../_scss/common.scss */
#fixedHeader .mobileMenu {
  margin-top: 1em;
}
/* line 28, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea {
  display: none;
}
/* line 30, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea ul {
  list-style: none;
  padding: 0;
}
/* line 33, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea ul li {
  padding: .5em;
  border-bottom: 1px solid #93a541;
}
/* line 38, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea p {
  text-align: center;
}
/* line 42, ../_scss/common.scss */
#fixedHeader .mobileMenu .foldingArea.active {
  display: block;
}

/* line 50, ../_scss/common.scss */
#heroUnit {
  background-image: url("/assets/img/background.png");
  color: #4b5421;
  padding: 6em;
}
/* line 54, ../_scss/common.scss */
#heroUnit img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 59, ../_scss/common.scss */
#heroUnit h1 {
  text-align: center;
}
/* line 62, ../_scss/common.scss */
#heroUnit p {
  text-align: center;
}
